@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}

/* Custom theme variables */
@theme {
  --text-home-heading-small: 28px;
  --text-home-heading-small--line-height: 34px;

  --text-home-heading-large: 48px;
  --text-home-heading-large--line-height: 56px;

  /* Grid templates */
  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));
  
}
